<% layout('layouts/base.ejs') %>

<div class="container pb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-9 col-md-10 col-12 text-center">
      <div class="card shadow-lg border-0">
        <div class="card-body">
          <h3 class="mb-4 card-title">TakoyakiMaid</h3>
            
          <div class="mb-5">
            <a href="/order" class="btn btn-primary mb-2">オーダーリスト</a>
            <a href="/order/create" class="btn btn-success">新規オーダー</a>
          </div>

          <div class="mb-3">
            <a href="/product" class="btn btn-info mb-2">メニュー</a>
            <a href="/product/create" class="btn btn-warning">メニュー追加</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="stylesheets/home.css">
