<% layout('layouts/base.ejs') %>

<div class="container pb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-9 col-md-10 col-12 text-center">
      <div class="card shadow-lg border-0">
        <div class="card-body">
          <h3 class="mb-4 card-title">京都メイドTAC♡YAKI</h3>

          <img src="/img/takomaid.gif" alt="takomaid">
            
          <div class="mb-3">
            <a href="/order" class="btn btn-pink mb-2">オーダーリスト</a>
            <a href="/order/create" class="btn btn-pink">新規オーダー</a>
          </div>
          <hr class="divider mb-3">
          <div class="mb-3">
            <a href="/checkout/create" class="btn btn-blue mb-2">会計の確定</a>
            <a href="/checkout" class="btn btn-blue">会計管理</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="stylesheets/home.css">
