/* セクションタイトルのスタイル */
.section-title {
    font-weight: bold;
    font-size: calc(1rem+1vw);
    border-bottom: 2px solid #28a745;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #333;
}

/* 商品カードのスタイル */
.product-card {
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

/* 価格テキストのスタイル */
.price-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: #ff6347;
    margin-bottom: 15px;
}

/* ボタンの調整 */
.btn-success {
    border-radius: 20px;
}

/* カード内の要素の間隔を統一 */
.card-body h5 {
    margin-bottom: 10px;
}

/* オーダーの量の管理 */
.quantity-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity {
    min-width: 30px;
    text-align: center;
    font-size: calc(1.3rem + 0.8vw);
}


/* ボタンのスタイル */
.minus-btn,
.plus-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    padding-top: 0;
    justify-content: center;
    font-size: 1.8rem;
    /* フォントサイズを拡大 */
    font-weight: bold;
    line-height: 1;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    transition: background-color 0.2s;
}